---

## Roadmap

- [ ] Engage with the community to improve the data
- [ ] Add more resources
    - [ ] Tools & Software
- [ ] Improve validation
    - [ ] Validate URLs are reachable
    - [ ] Validate URLs are HTTPS
    - [ ] Add archive alternative URLs
- [ ] Add a data update script
    - [ ] Update repository status ("archived")


---

## License

The **data** in the repository is free to use and is part of the public domain. If you benefit from these lists, we'd appreciate it if you would cite the source of the data.

The **tools** contained in the repository are licensed under the [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/).
